@model AdViewModel
<div class="row">
    <div class="col-md-6 offset-md-3">
        @foreach (var ad in Model.Ads)
        {
            <div class="bg-light rounded-3 p-5 mt-3">
                @if (ad.Name != "")
                {
                    <h5>Listed by @ad.Name</h5>
                }
                <h5>Listed on @ad.DateCreated.ToLongDateString() </h5>
                <h5>Phone Number: @ad.PhoneNumber</h5>
                <h3>Details:</h3>
                <p>@ad.Description</p>
                @if(ad.MyAd)
                {
                    <form method="post" action="/home/deletead">
                        <input type="hidden" name="id" value="@ad.Id" />
                        <button class="btn btn-danger">Delete</button>
                    </form>
                }
            </div>
        }
    </div>
</div>